body {
  display: flex;
  justify-content: center;
  align-items: center;
}
  center-div {
  width: 400px;
  background-color: black;
  }


  #answer{
    width: 270px;
    font-size: 26px;
    text-align: right;
    background-color: #ffffff;
    float: left;
}
/* answer hover effect */
#answer:hover{
    width: 270px;
    font-size: 26px;
    text-align: right;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

